.thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 100%;
       height: auto;
       color: #000;
       background-color: #fff;
   }
   
   /* Variation Swatches for WooCommerce*/
   
   
   .thwvsf-wrapper-ul {
     justify-content: center;
   }
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
     padding: .5rem;
     position: relative;
       
   }
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.attr_swatch_design_default.thwvsf-selected{
     background: #5dff003d;
   }
   span.gaming_topup_gt {
       position: relative;
       top: -8px;
       font-size: 13px;
       color: red;
   }
   .woocommerce #content .ast-woocommerce-container div.product div.images, .woocommerce .ast-woocommerce-container div.product div.images, .woocommerce-page #content .ast-woocommerce-container div.product div.images, .woocommerce-page .ast-woocommerce-container div.product div.images {
       width: 100%;
       height:200px;
       background-image:linear-gradient(90deg,#c533a8,#334bc5);
       background-repeat: no-repeat;
       margin-bottom:100px;
     
   }
   
   .woocommerce-js div.product div.images img {
       display: block;
       width: 20%;
       /* height: auto; */
        height:250px;
       
    
       border-radius:20px;
       margin:20px;
       
   }
   
   /* slider Image */
   
   .elementor-element .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-element .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-lightbox .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-lightbox .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image {
       width: 100%;
       height: 300px;
   }
   
   
   /* product page */
   
   
   
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 100%;
       height: auto;
       color: #000;
       background-color: #fff;
   }
   .woocommerce #content .ast-woocommerce-container div.product div.summary, .woocommerce .ast-woocommerce-container div.product div.summary, .woocommerce-page #content .ast-woocommerce-container div.product div.summary, .woocommerce-page .ast-woocommerce-container div.product div.summary {
       width: 100%;
   }
   
   
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 30%;
       height: auto;
       color: #000;
       background-color: #fff;
   }
   
   
   .woocommerce-js #respond input#submit,.woocommerce-js a.button,.woocommerce-js button.button,.woocommerce-js input.button {
       margin: 10px;
       position: relative;
       overflow: visible;
       left: auto;
       display: inline-block;
       background-image: none;
       box-shadow: none;
       text-shadow: none;
   }
   
   /* sell icon hide */
   .woocommerce-js.single-product .sale>span.onsale {
       font-size: 1em;
       left: -.5em;
       visibility: hidden;
   }
   
   /* serach icon hide */
   .woocommerce-js div.product div.images .woocommerce-product-gallery__trigger {
   
       visibility: hidden;
       pointer-events: none;
   cursor: default;
   }
   
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 20%;
       height: auto;
       color: #000;
       background-color: #fff;
   }
   @media (max-width: 780px){
       .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 30%;
       height: auto;
       color: #000;
       background-color: #fff;
   }
       
   /* product page container 1st  */
       .woocommerce #content .ast-woocommerce-container div.product div.images, .woocommerce .ast-woocommerce-container div.product div.images, .woocommerce-page #content .ast-woocommerce-container div.product div.images, .woocommerce-page .ast-woocommerce-container div.product div.images {
       width: 100%;
       height: 150px;
       background-image: linear-gradient(90deg,#c533a8,#334bc5);
       background-repeat: no-repeat;
       margin-bottom: 100px;
       margin-top:-20px;
   
   }
       
       
   .woocommerce-js div.product div.images img {
       display: block;
       width: 20%;
       /* height: auto; */
        height:200px;
       z-index:1;
       border-radius:0px;
       padding-top:20px;
   
       
   }
       
   .thwvsf-wrapper-ul{
       flex-direction:row;
       flex-wrap:wrap;
       
   }
   .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-label-li.attr_swatch_design_default {
       width: 40%;
   }
   
   }
   
   .woocommerce div.product form.cart .variations td {
       width: 100%;
   }
   
   
   @media screen and (max-width: 503px){
   span.gaming_topup_gt {
       position: absolute;
       top: -5px;
       font-size: 11px;
       color: red;
       right: 5px
           
           
   } 
       
   .woocommerce-js div.product div.images img {
   
       border-radius: 0px;
      
   }
       
   .thwvsf-wrapper-ul .thwvsf-label-li.attr_swatch_design_default .thwvsf-item-span.item-span-text {
       font-size: 12px;
   }
   
       
   }
   
   
   
   
   
   
   
   @media (max-width: 480px ){
       
   .woocommerce-js div.product div.images img {
       display: block;
       width: 20%;
       /* height: auto; */
       height: 120px;
       z-index: 1;
       border-radius: 0px;
       padding-top: 20px;
   }
       
   .woocommerce #content .ast-woocommerce-container div.product div.images, .woocommerce .ast-woocommerce-container div.product div.images, .woocommerce-page #content .ast-woocommerce-container div.product div.images, .woocommerce-page .ast-woocommerce-container div.product div.images {
   
       height: 90px;
       border-radius:0px;
     
   
   }
   }
   
   
   @media (max-width: 450px ){
       
       
       
   .woocommerce #content .ast-woocommerce-container div.product div.images, .woocommerce .ast-woocommerce-container div.product div.images, .woocommerce-page #content .ast-woocommerce-container div.product div.images, .woocommerce-page .ast-woocommerce-container div.product div.images {
   
       height: 90px;
       border-radius:0px;
     
   
   }
       
   
   .elementor-16 .elementor-element.elementor-element-570f235e:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-570f235e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
   
       padding: 40px;
       
   }
       .elementor-16 .elementor-element.elementor-element-7d6418ba {
       --margin-top: 30px;
       --margin-bottom: 10px;
       --margin-left: 0px;
       --margin-right: 0px;
   }
   
   .elementor-16 .elementor-element.elementor-element-10ba944:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-10ba944 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
       padding: 30px;
   }
       
       
       .elementor-element .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-element .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-lightbox .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image, .elementor-lightbox .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image {
       width: 100%;
       height: 222px;
   }
   }
   /* Body Color change */
   .entry-content>:last-child, .entry-summary>:last-child, .page-content>:last-child {
       margin-bottom: 0;
   /*     background-color: black; */
   }
   